<html>
    <head>
        <title>Inicio</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>

            .thumbnail {
                height: auto;
                width: auto;
                padding: 15px;
            }

            p {
                text-align: center;
            }

        </style>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Advento of code</h3>
                        <p >Advent of Code es un calendario de Adviento de pequeños acertijos de programación para una variedad de conjuntos de habilidades y niveles de habilidad que se pueden resolver en cualquier lenguaje de programación que desee. La gente los usa como un concurso de velocidad , preparación de entrevistas , capacitación de la empresa , cursos universitarios , problemas de práctica o para desafiarse entre sí .

                            No necesita una formación en informática para participar; solo un poco de conocimiento de programación y algunas habilidades para resolver problemas lo llevarán bastante lejos. Tampoco necesitas una computadora elegante; cada problema tiene una solución que se completa en un máximo de 15 segundos en un hardware de diez años.

                            Si desea apoyar Advent of Code, puede hacerlo indirectamente ayudando a [Share] con otros, o directamente a través de PayPal o Coinbase .

                            Advent of Code es una marca registrada en los Estados Unidos.

                            --- Consejos generales ---
                            Si se queda atascado, pruebe su solución con los ejemplos que se dan en el rompecabezas; debería obtener las mismas respuestas. Si no es así, vuelva a leer la descripción. ¿Entendiste mal algo? ¿Su programa está haciendo algo que no espera? Una vez que los ejemplos funcionen, si su respuesta aún no es correcta, cree algunos casos de prueba para los que pueda verificar la respuesta a mano y ver si funcionan con su programa. Asegúrese de tener toda la entrada del rompecabezas. Si todavía está atascado, tal vez pida ayuda a un amigo o vuelva al rompecabezas más tarde. También puede solicitar sugerencias en el subreddit .</p>
                        <p><a href="diaUno.html" class="btn btn-primary" role="button">dia Uno</a> <a href="DiaDos.html" class="btn btn-default" role="button">dia Dos</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
